body{
    background-color:#C4A69D;
    color: #332F2C;
    text-align: center;
    margin: 0px;
}

header{
background-color:#cbccc3;
border: 5px solid #a18a5d;
padding: 20px;
margin-left: 30px;
margin-right: 30px;
}

/* this css will only apply to unordered lists in nav section */
nav ul{
    list-style: none;
    padding: 20px;
    margin:0;
    border: 2px solid #a18a5d;
}
/* style only applies to list items */
nav ul li{
background-color: #cbccc3;
margin:0;
padding:20px;
}
/* style the links so they look better */
nav ul li a{
    color:#332F2C;
    text-decoration:none;
    padding:10px 20px;
    border-radius: 5px;
    background-color:#a18a5d;
    border:2px solid #C4A69D;
}
nav ul li a:hover{
    background-color:#C4A69D;
}
